@import '../../../../main.scss';


.hotSpotSectionContainers{
    margin-left: 40px;
}

.hotSpotSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.hotSpotSectionColumn{
    display: flex;
    font-size: 12px; 
    text-align: left;
    padding-right: 80px;
    font-size: 8px;
}

.hotSpotSectionName{
    margin-left: 20px;
    margin-top: 20px;
}

.hotSpotSectionImage{
    height: 80px;
}
.hotSpotSectionPrice{
    font-size: 11px;
    line-height: 20px;
}
