.descSection {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p {
  height: 0;
  width: 40%;
  overflow: hidden;
  transition: height 0.2s;
}
p.active {
  height: 55px;
}

.answersAndQuestionsSection{
  width: 50%;
}

.tableDescSection{
  margin-right: 40px;
  margin-left: 30px;
  cursor: pointer;
  table-layout: fixed;

}
.productInformationText{
  margin-top: 20px;
  line-height: 30px;

}

.tableInformation{
  margin-right: 10px;
}
.shortDataProduct {
  margin-top: 20px;
  line-height: 30px;
}

.tableInformationItems{
  margin-top: 20px;
  line-height: 20px;
}

