@import '../../../main.scss';

.menuNavbar{
    display: block;
    padding: 10px 0;
    height: 60px;
    background: white;
}
.navbarContainers{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navbarContainer{
    display: flex;
    flex-direction: row;    
}
.navLink{
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:15px;
}