@import "../../../main.scss";

@media (min-width: 769px) {
  .menuTop {
    height: 40px;
    background: $darkGrey;
  }
  .menuTopContainers {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    color: white;
    padding: 10px;
  }
  .menuTopContainer {
    text-align: left;
    vertical-align: middle;
  }
  .menuTopItem {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 30px;
    font-size: 10px;
  }

  .menuTopIcon {
    margin-right: 10px;
    height: 15px;
  }
}

@media (max-width: 780px) {
  .menuTop {
    display: none;
  }
}
