$darkGrey: #333333;
$darkRed: rgba(141, 58, 58, 0.877);

html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    font-size: 14px;
    text-align: left;
}

.container{
    width: 100%;
}
li{
    list-style-type: none;
}

@media(min-width: 769px){
    .dotText{
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }
    .dotImage{
        width: 10px;
    }
}

@media(max-width: 770px){
    .dotText{
        font-weight: bold;
        font-size: 16px;
    }
    .dotImage{
        width: 7px;
}
}