@import "../../main.scss";

footer {
  display: block;
  background: url(../../image/footer/bg-footer.png) repeat-x center top;
  background-size: contain;
  padding-top: 15%;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  margin-top: 10px;
  clear: both;
}
.iaiLogo {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
.footerLinks a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
  font-size: 9px;
  letter-spacing: 1px;
}

@media (max-width: 769px) {
  .footerRWD {
    display: flex;
    flex-direction: column;
  }
  .footerContainerRWD {
    align-items: center;
    padding-top: 20px;
    background: rgb(0, 0, 0);
    color: white;
  }
  .footerContainer {
    display: none;
  }
  .footerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .footerTitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 17px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
}

@media (min-width: 770px) {
  .footerContainers {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
  }
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
    //margin-left: 35px;
    border-right: 1px solid #333;
  }
  .footerTitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 17px;
    padding-left: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .footerLinks a {
    justify-content: start;

    list-style-type: none;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    font-size: 9px;
    letter-spacing: 1px;
  }

  .footerRWD {
    display: none;
  }
}
