@media (min-width: 769px) {
  .breadCrumbSection {
    background: url(../../../image/top/background-down.png);
    padding-top: 5px;
    padding-block-end: 5px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
  }
}

@media (max-width: 770px) {
  .breadCrumbSection {
    display: none;
  }
}
